*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body{
    width:100%;
    min-height:100%;
}

body{
    font-family:'Poppins', Arial, sans-serif;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:25px;
    overflow:hidden;

    background:#f6eadf;
}

.fundo-img{
    position:fixed;
    top:0;
    left:0;

    width:100vw;
    height:100vh;

    object-fit:cover;
    object-position:center center;

    z-index:-1;
}

.container{
    width:90%;
    max-width:470px;

    background:rgba(255,255,255,0.78);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);

    border-radius:28px;
    padding:28px;

    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

.logo{
    width:110px;
    margin-bottom:12px;
}

h1{
    color:#6e472f;
    font-size:28px;
    line-height:1.15;
    margin-bottom:10px;
}

p{
    color:#6e472f;
    margin-bottom:8px;
}

.btn{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;

    width:100%;
    padding:14px;
    margin-top:12px;

    background:white;
    color:#6e472f;

    text-decoration:none;
    border-radius:16px;
    font-weight:bold;

    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.principal{
    background:#f5a8ba;
    color:white;
}

.footer{
    margin-top:18px;
    font-size:13px;
    color:#7d6456;
}

/* CELULAR */
@media(max-width:600px){

    body{
        padding:0;
    }

    .fundo-img{
        object-fit:cover;
        object-position:center center;
    }

    .container{
        width:90%;
        max-width:390px;

        transform:scale(0.70);
        transform-origin:center center;

        padding:28px;
        border-radius:30px;

        background:rgba(255,255,255,0.80);
    }
}